<a href="https://colab.research.google.com/github/Anu-George-K/ANN_projects/blob/main/Lung_cancer_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
help(tf)

In [3]:
df=pd.read_csv('/content/lung_cancer_examples.csv')
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [4]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [5]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [6]:
df.columns

Index(['Name', 'Surname', 'Age', 'Smokes', 'AreaQ', 'Alkhol', 'Result'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     59 non-null     object
 1   Surname  59 non-null     object
 2   Age      59 non-null     int64
 3   Smokes   59 non-null     int64
 4   AreaQ    59 non-null     int64
 5   Alkhol   59 non-null     int64
 6   Result   59 non-null     int64
dtypes: int64(5), object(2)
memory usage: 3.4+ KB

In [8]:
df.describe()

             Age     Smokes      AreaQ     Alkhol     Result
count  59.000000  59.000000  59.000000  59.000000  59.000000
mean   42.627119  15.067797   5.203390   3.237288   0.474576
std    16.235230   7.984607   2.461984   2.380517   0.503640
min    18.000000   0.000000   1.000000   0.000000   0.000000
25%    29.000000  10.000000   3.000000   1.000000   0.000000
50%    39.000000  15.000000   5.000000   3.000000   0.000000
75%    55.000000  20.000000   7.500000   5.000000   1.000000
max    77.000000  34.000000  10.000000   8.000000   1.000000

In [9]:
df.dtypes

Name       object
Surname    object
Age         int64
Smokes      int64
AreaQ       int64
Alkhol      int64
Result      int64
dtype: object

In [10]:
df=df.drop(['Name','Surname'],axis=1)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [11]:
df.isna().sum()

Age       0
Smokes    0
AreaQ     0
Alkhol    0
Result    0
dtype: int64

In [12]:
x=df.iloc[:,:-1]
x

    Age  Smokes  AreaQ  Alkhol
0    35       3      5       4
1    27      20      2       5
2    30       0      5       2
3    28       0      8       1
4    68       4      5       6
5    34       0     10       0
6    58      15     10       0
7    22      12      5       2
8    45       2      6       0
9    52      18      4       5
10   33       4      8       0
11   18      10      6       3
12   25       2      5       1
13   28      20      2       8
14   34      25      4       8
15   39      18      8       1
16   42      22      3       5
17   19      12      8       0
18   62       5      4       3
19   73      10      7       6
20   55      15      1       3
21   33       8      8       1
22   22      20      6       2
23   44       5      8       1
24   77       3      2       6
25   21      20      5       3
26   37      15      6       2
27   34      12      8       0
28   55      20      1       4
29   40      20      2       7
30   36      13      5       2
31   56      20      3       3
32   47      15      1       8
33   62      25      3       4
34   26      10      7       2
35   25      20      8       2
36   59      20      3       4
37   62      15      5       5
38   33      25      8       2
39   37      10      5       3
40   50      20      2       4
41   47      12      8       0
42   69      20      5       4
43   63      20      4       5
44   39      15      7       2
45   21      20      8       3
46   31      20      9       4
47   28      10      4       1
48   53      20      6       3
49   62      20      5       6
50   42      12      6       2
51   44      30      1       6
52   26      34      1       8
53   35      20      5       1
54   26      13      6       1
55   77      20      5       4
56   75      15      3       5
57   43      30      3       8
58   51      25      9       0

In [13]:
y=df.iloc[:,-1]
y

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     1
10    0
11    0
12    0
13    1
14    1
15    0
16    1
17    0
18    1
19    1
20    1
21    0
22    0
23    0
24    1
25    0
26    0
27    0
28    1
29    1
30    0
31    1
32    1
33    1
34    0
35    0
36    1
37    1
38    0
39    0
40    1
41    0
42    1
43    1
44    0
45    0
46    0
47    0
48    1
49    1
50    0
51    1
52    1
53    0
54    0
55    1
56    1
57    1
58    0
Name: Result, dtype: int64

In [14]:
x=x.values
x

array([[35,  3,  5,  4],
       [27, 20,  2,  5],
       [30,  0,  5,  2],
       [28,  0,  8,  1],
       [68,  4,  5,  6],
       [34,  0, 10,  0],
       [58, 15, 10,  0],
       [22, 12,  5,  2],
       [45,  2,  6,  0],
       [52, 18,  4,  5],
       [33,  4,  8,  0],
       [18, 10,  6,  3],
       [25,  2,  5,  1],
       [28, 20,  2,  8],
       [34, 25,  4,  8],
       [39, 18,  8,  1],
       [42, 22,  3,  5],
       [19, 12,  8,  0],
       [62,  5,  4,  3],
       [73, 10,  7,  6],
       [55, 15,  1,  3],
       [33,  8,  8,  1],
       [22, 20,  6,  2],
       [44,  5,  8,  1],
       [77,  3,  2,  6],
       [21, 20,  5,  3],
       [37, 15,  6,  2],
       [34, 12,  8,  0],
       [55, 20,  1,  4],
       [40, 20,  2,  7],
       [36, 13,  5,  2],
       [56, 20,  3,  3],
       [47, 15,  1,  8],
       [62, 25,  3,  4],
       [26, 10,  7,  2],
       [25, 20,  8,  2],
       [59, 20,  3,  4],
       [62, 15,  5,  5],
       [33, 25,  8,  2],
       [37, 10,  5,  3],
       [50, 20,  2,  4],
       [47, 12,  8,  0],
       [69, 20,  5,  4],
       [63, 20,  4,  5],
       [39, 15,  7,  2],
       [21, 20,  8,  3],
       [31, 20,  9,  4],
       [28, 10,  4,  1],
       [53, 20,  6,  3],
       [62, 20,  5,  6],
       [42, 12,  6,  2],
       [44, 30,  1,  6],
       [26, 34,  1,  8],
       [35, 20,  5,  1],
       [26, 13,  6,  1],
       [77, 20,  5,  4],
       [75, 15,  3,  5],
       [43, 30,  3,  8],
       [51, 25,  9,  0]])

In [15]:
y=y.values

In [16]:
y

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0])

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [18]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
scale.fit(x_train)
x_train=scale.fit_transform(x_train)
x_test=scale.fit_transform(x_test)

In [19]:
x_train

array([[-1.15393627, -0.43269425,  0.40496913, -1.08797778],
       [ 1.7796194 , -0.84848639,  0.80993827,  1.1649055 ],
       [-0.52977549, -0.43269425,  0.        , -0.63740112],
       [-0.15527902, -0.57129163,  0.40496913, -0.63740112],
       [-0.34252726, -0.1554995 ,  0.80993827, -0.63740112],
       [ 2.02928371,  0.53748739,  0.        ,  0.26375219],
       [-0.34252726,  0.26029264,  1.2149074 , -1.08797778],
       [ 0.46888176,  0.26029264, -0.40496913,  0.71432885],
       [-0.65460765, -0.57129163,  1.2149074 , -1.53855444],
       [-0.46735941, -0.1554995 ,  0.40496913, -0.63740112],
       [-0.15527902,  0.81468215, -0.80993827,  0.71432885],
       [ 2.02928371, -1.81866804, -1.2149074 ,  1.1649055 ],
       [ 1.09304254,  1.23047428, -0.80993827,  0.26375219],
       [ 1.90445155, -0.1554995 , -0.80993827,  0.71432885],
       [ 0.15680137, -0.57129163,  1.2149074 , -1.53855444],
       [-1.6532649 , -0.84848639,  0.40496913, -0.18682447],
       [ 0.15680137, -0.1554995 , -1.61987654,  2.06605882],
       [-1.15393627,  2.47785069, -1.61987654,  2.06605882],
       [ 0.3440496 ,  0.53748739, -1.2149074 ,  0.26375219],
       [ 1.09304254, -0.1554995 ,  0.        ,  0.71432885],
       [-0.28011118,  0.53748739, -1.2149074 ,  1.61548216],
       [ 1.15545862,  0.53748739, -0.40496913,  0.71432885],
       [-1.09152019,  0.53748739, -1.2149074 ,  0.71432885],
       [-0.71702373, -1.12568114,  1.2149074 , -1.08797778],
       [-0.90427196, -2.23446017,  0.        , -0.63740112],
       [-0.84185588,  0.53748739,  1.61987654,  0.26375219],
       [-0.46735941, -0.84848639,  0.        , -0.18682447],
       [-1.21635235,  0.53748739,  1.2149074 , -0.63740112],
       [-0.03044687, -1.54147328,  1.2149074 , -1.08797778],
       [ 0.53129784,  0.53748739,  0.40496913, -0.18682447],
       [-0.71702373, -1.68007066,  1.2149074 , -1.53855444],
       [-1.40360058,  0.53748739,  0.40496913, -0.63740112],
       [ 1.09304254, -1.54147328, -0.40496913, -0.18682447],
       [ 0.40646568,  1.23047428,  1.61987654, -1.53855444],
       [ 0.65612999, -0.1554995 , -1.61987654, -0.18682447],
       [-1.40360058, -0.57129163,  0.        , -0.63740112],
       [ 1.52995508,  0.53748739,  0.        ,  0.26375219],
       [-0.65460765,  1.23047428, -0.40496913,  2.06605882],
       [ 0.65612999,  0.53748739, -1.61987654,  0.26375219],
       [-0.03044687,  1.92346117, -1.61987654,  1.1649055 ],
       [-0.71702373,  1.23047428,  1.2149074 , -0.63740112]])

In [20]:
x_test

array([[-0.21930389, -1.09065725, -0.28867513,  0.4472136 ],
       [-0.28401652, -1.42913709,  1.87638837, -1.08609016],
       [-0.80171751, -0.30087097,  0.57735027, -0.31943828],
       [-0.67229227,  0.82739516, -1.58771324,  1.98051735],
       [-1.12528064,  0.82739516,  1.01036297,  0.06388766],
       [-0.21930389,  0.82739516, -0.28867513, -0.70276422],
       [ 0.2983971 ,  1.95566128, -1.15470054,  1.98051735],
       [-1.12528064,  0.82739516, -0.28867513,  0.06388766],
       [-0.67229227, -0.30087097, -0.72168784, -0.70276422],
       [-0.86643014, -1.20348386, -0.28867513, -0.70276422],
       [ 1.52793697,  0.82739516, -0.28867513,  1.21386547],
       [-0.67229227, -1.42913709,  1.01036297, -0.70276422],
       [ 1.33379909,  0.82739516, -1.15470054,  0.4472136 ],
       [ 1.13966122,  0.82739516, -1.15470054,  0.06388766],
       [ 0.42782235, -1.20348386,  0.14433757, -1.08609016],
       [-1.25470589, -0.07521774,  1.01036297, -1.08609016],
       [ 1.26908647,  0.2632621 ,  1.87638837, -1.08609016],
       [ 1.91621271, -0.97783064, -0.28867513,  1.21386547]])

Model creation

In [26]:
#initialization

ann=tf.keras.models.Sequential()

In [27]:
#first hidden layer

ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [28]:
#second hidden layer

ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [29]:
#add output layer

ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [30]:
# compiling artificial neural network(ANN)

ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [36]:
#fit

ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0106 - accuracy: 1.0000
Epoch 2/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0105 - accuracy: 1.0000
Epoch 3/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0104 - accuracy: 1.0000
Epoch 4/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0103 - accuracy: 1.0000
Epoch 5/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0103 - accuracy: 1.0000
Epoch 6/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0102 - accuracy: 1.0000
Epoch 7/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0101 - accuracy: 1.0000
Epoch 8/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0101 - accuracy: 1.0000
Epoch 9/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0100 - accuracy: 1.0000
Epoch 10/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0100 - accuracy: 1.0000
Epoch 11/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0099 - accuracy: 1.0000
Epoch 12/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0098 - accuracy: 1.0000
Epoch 13/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0098 - accuracy: 1.0000
Epoch 14/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0097 - accuracy: 1.0000
Epoch 15/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0097 - accuracy: 1.0000
Epoch 16/100
2/2 [==============================] - 0s 3ms/step - loss: 0.0096 - accuracy: 1.0000
Epoch 17/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0095 - accuracy: 1.0000
Epoch 18/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0095 - accuracy: 1.0000
Epoch 19/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0094 - accuracy: 1.0000
Epoch 20/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0094 - accuracy: 1.0000
Epoch 21/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0093 - accuracy: 1.0000
Epoch 22/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0092 - accuracy: 1.0000
Epoch 23/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0092 - accuracy: 1.0000
Epoch 24/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0091 - accuracy: 1.0000
Epoch 25/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0090 - accuracy: 1.0000
Epoch 26/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0089 - accuracy: 1.0000
Epoch 27/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0089 - accuracy: 1.0000
Epoch 28/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0088 - accuracy: 1.0000
Epoch 29/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0087 - accuracy: 1.0000
Epoch 30/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0087 - accuracy: 1.0000
Epoch 31/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0086 - accuracy: 1.0000
Epoch 32/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0085 - accuracy: 1.0000
Epoch 33/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0085 - accuracy: 1.0000
Epoch 34/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0084 - accuracy: 1.0000
Epoch 35/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0084 - accuracy: 1.0000
Epoch 36/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 37/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 38/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0082 - accuracy: 1.0000
Epoch 39/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0081 - accuracy: 1.0000
Epoch 40/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0081 - accuracy: 1.0000
Epoch 41/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0080 - accuracy: 1.0000
Epoch 42/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0080 - accuracy: 1.0000
Epoch 43/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0079 - accuracy: 1.0000
Epoch 44/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0079 - accuracy: 1.0000
Epoch 45/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0078 - accuracy: 1.0000
Epoch 46/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 47/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 48/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0076 - accuracy: 1.0000
Epoch 49/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0076 - accuracy: 1.0000
Epoch 50/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0075 - accuracy: 1.0000
Epoch 51/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0075 - accuracy: 1.0000
Epoch 52/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0074 - accuracy: 1.0000
Epoch 53/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0073 - accuracy: 1.0000
Epoch 54/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0073 - accuracy: 1.0000
Epoch 55/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 56/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 57/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 58/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0071 - accuracy: 1.0000
Epoch 59/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0071 - accuracy: 1.0000
Epoch 60/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0070 - accuracy: 1.0000
Epoch 61/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0070 - accuracy: 1.0000
Epoch 62/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0069 - accuracy: 1.0000
Epoch 63/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0069 - accuracy: 1.0000
Epoch 64/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 65/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 66/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0067 - accuracy: 1.0000
Epoch 67/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0067 - accuracy: 1.0000
Epoch 68/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0067 - accuracy: 1.0000
Epoch 69/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0066 - accuracy: 1.0000
Epoch 70/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0066 - accuracy: 1.0000
Epoch 71/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 72/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 73/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0064 - accuracy: 1.0000
Epoch 74/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0064 - accuracy: 1.0000
Epoch 75/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0064 - accuracy: 1.0000
Epoch 76/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0063 - accuracy: 1.0000
Epoch 77/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0063 - accuracy: 1.0000
Epoch 78/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 79/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 80/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 81/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0061 - accuracy: 1.0000
Epoch 82/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0061 - accuracy: 1.0000
Epoch 83/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0060 - accuracy: 1.0000
Epoch 84/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0060 - accuracy: 1.0000
Epoch 85/100
2/2 [==============================] - 0s 3ms/step - loss: 0.0060 - accuracy: 1.0000
Epoch 86/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0059 - accuracy: 1.0000
Epoch 87/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0059 - accuracy: 1.0000
Epoch 88/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0059 - accuracy: 1.0000
Epoch 89/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0058 - accuracy: 1.0000
Epoch 90/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0058 - accuracy: 1.0000
Epoch 91/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 92/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 93/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 94/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0056 - accuracy: 1.0000
Epoch 95/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0056 - accuracy: 1.0000
Epoch 96/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0056 - accuracy: 1.0000
Epoch 97/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0055 - accuracy: 1.0000
Epoch 98/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0055 - accuracy: 1.0000
Epoch 99/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0055 - accuracy: 1.0000
Epoch 100/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0054 - accuracy: 1.0000

In [31]:
x_train.shape

(41, 4)

In [37]:
pred = ann.predict([[10,0,5,2]])
print(pred)

1/1 [==============================] - 0s 86ms/step
[[0.9998668]]

In [40]:
# apply normalization apply

pred = ann.predict(scale.transform([[30,0,5,2]]))
if(pred>0.5):
  print(1)
else:
  print(0)

1/1 [==============================] - 0s 16ms/step
0

In [39]:
ann.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 30

 dense_4 (Dense)             (None, 6)                 42

 dense_5 (Dense)             (None, 1)                 7

=================================================================
Total params: 79
Trainable params: 79
Non-trainable params: 0
_________________________________________________________________